## [Start] Setting "creditsDelivered" to default value of "0". **
$util.qr($context.args.input.put("creditsDelivered", $util.defaultIfNull($ctx.args.input.creditsDelivered, 0)))
## [End] Setting "creditsDelivered" to default value of "0". **
{}