## [Start] Setting "pricePerCredit" to default value of "25". **
$util.qr($context.args.input.put("pricePerCredit", $util.defaultIfNull($ctx.args.input.pricePerCredit, 25)))
## [End] Setting "pricePerCredit" to default value of "25". **
## [Start] Setting "sourceType" to default value of "ride". **
$util.qr($context.args.input.put("sourceType", $util.defaultIfNull($ctx.args.input.sourceType, "ride")))
## [End] Setting "sourceType" to default value of "ride". **
{}