## [Start] Setting "iotValidated" to default value of "false". **
$util.qr($context.args.input.put("iotValidated", $util.defaultIfNull($ctx.args.input.iotValidated, false)))
## [End] Setting "iotValidated" to default value of "false". **
{}