## [Start] Setting "creditsSold" to default value of "0". **
$util.qr($context.args.input.put("creditsSold", $util.defaultIfNull($ctx.args.input.creditsSold, 0)))
## [End] Setting "creditsSold" to default value of "0". **
{}